* {
    padding: 0;
    margin: 0;
    border:0;
    font-family: "Arial", ΢���ź�;
    font-size: 100%;
    /*vertical-align: baseline;*/
}
body{
    text-align: center;
}
a:link,a:visited{
    text-decoration: none;
    color: #111111;
}
a:hover,a:active{
    color: red;
}
a:active{
    font-weight:bold;
}