/*scroll*/
.scroll_container{
    overflow: hidden;
    height:130px;
    background-color: #78859e;
    /*border:1px solid black;*/
}
.scroll_container img {
    width: 160px;
    height: 90px;
}
.scroll_container ul {
    display: inline-block;
    z-index: 1;
    list-style: none;
    /*float: left;*/
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.scroll_container ul li {
    display: inline-block;
    position: relative;
    margin-right: 30px;
}
.scroll_container ul li:first-child {
    margin-left: 30px;
}
.scroll_container .scroll {
    display: inline-block;
    position: relative;
    z-index: 2;
    width:4%;
    background: #b4c8ed;
    opacity: 0.2;
    cursor: pointer;
}
.scroll_container .left_scroll{
    /*float: left;*/
}
.scroll_container .right_scroll{
    /*float: right;*/
}
.scroll_container .scroll_btn {
    display: inline-block;
    margin: 0 auto;
    /*text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);*/
}