/*scroll*/
.scroll_container{
    overflow: hidden;
    height:130px;
    background-color: #78859e;
    /*border:1px solid black;*/
}
.scroll_container img {
    width: 160px;
    height: 90px;
}
.scroll_container ul {
    z-index: 1;
    list-style: none;
    float: left;
    position: relative;
    display: inline;
    width: auto;
    top: 50%;
    transform: translateY(-50%);

}
.scroll_container ul li {
    display: inline;
    position: relative;
    margin-right: 30px;
}
.scroll_container .scroll {
    display: inline;
    position: relative;
    z-index: 2;
    width:3%;
    height:inherit;
    background: #b4c8ed;
    opacity: 0.2;
    cursor: pointer;
}
.scroll_container .left_scroll{
    float: left;
}
.scroll_container .right_scroll{
    float: right;
}
.scroll_container .scroll_btn {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}