/*scroll*/
.scroll_container{
    overflow: hidden;
    height:90px;
    width: 520px;
    background-color: #78859e;
    /*border:1px solid black;*/
}
.scroll_container img {
    width: 160px;
    height: 90px;;
}
.scroll_container ul {
    list-style: none;
    float: left;
    width: 480px;
    height: inherit;
    position:relative;
    z-index: 1;
}
.scroll_container ul li {
    display: inline;
    position: relative;
    height: inherit;
    /*margin-right: 14px;*/
}
.scroll_container ul li:first-child {
    /*margin-left: 30px;*/
}
.scroll_container .scroll {
    height: inherit;
    width: 20px;
    background: cornflowerblue;
    position:relative;
    z-index: 2;
    opacity: 0.2;
    cursor: pointer;
}
.scroll_container .left_scroll{
    float: left;
}
.scroll_container .right_scroll{
    float: right;
}