<!DOCTYPE html>
<html lang="en" ng-app="knowledgeApp">
<head>
    <meta charset="UTF-8">
    <title>knowledge-app</title>
    <!--css-->
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/scroll/img_scroll.css">
</head>
<body>
<div>
    <div class="wrapper">
        <div class="header">
            <div class="header_title_wrapper">
                <div class="header_title">KNOWLEDGE-APP</div>
            </div>
            <div class="header_others">OTHERS(USERINFO,SETTINGS)</div>
        </div>
        <div class="container">
            <div class="top_container">
                <div ng-controller="ScrollCtrl as scrollCtrl">
                    <img-scroll scroll-obj='scrollCtrl.scrollObj'></img-scroll>
                </div>
            </div>
            <!--<div class="left_container">
                <div class="menu" ng-controller="NavCtrl as navCtrl">
                    <div class="menu_opr"><a href="" ng-click="navCtrl.addTopNode(0)">Add</a></div>
                    <ul>
                        <nav-item ng-repeat="node in navCtrl.nodes" ng-include="'tpls/navigation/nav_item.html'"></nav-item>
                    </ul>
                </div>
            </div>
            <div class="main_container">
            </div>-->
        </div>
        <!--<div class="footer">
            <div class="footer_info">@sunsekey</div>
        </div>-->
    </div>
</div>
</body>
<script type="text/javascript" src="framework/angular.js"></script>
<script type="text/javascript" src="framework/angular-ui-router.js"></script>
<script type="text/javascript" src="global_var/scroll/scroll-global.js"></script>
<script type="text/javascript" src="utils/utils.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="controller/navigation/navigation-controller.js"></script>
<script type="text/javascript" src="controller/scroll/scroll-controller.js"></script>
<script type="text/javascript" src="component/common/remote-services.js"></script>
<script type="text/javascript" src="component/navigation/navigation-services.js"></script>
<script type="text/javascript" src="component/navigation/navigation-directive.js"></script>
<script type="text/javascript" src="component/scroll/imgScroll-directive.js"></script>
<script type="text/javascript" src="component/scroll/imgElement-directive.js"></script>
</html>